@font-face {
    font-family: customFont;
    src: url("font/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf")
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    /*display: block;*/
    max-width: 100%;
}


/* whole page */
.container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* page left side */
.flexbox-1 { 
    border: 1px solid yellow;
    width: 40vw;
    min-height: 100vh;
    position: relative;
}

.img-background {
    height: 100vh;
    min-width: 100%;
}

.img-logo {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 17%;
    height: 18%;
}

/* transparent black background for logo and text */ 
.div-img {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 21vh;
    background-color: #00000070; 
    left: 0vw;
    top: 20vh;   
}

/* text */
.div-text {
    position: absolute;
    display: inline-block;
    left: 40%;
    top: 24%;
    font-size: 6vw;
    font-family: customFont, sans-serif;  
}

/* page right side */
.flexbox-2 {
    border: 1px solid green;
    width: 60vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-left: 3rem;
    /*border: 4px solid red;*/
}

/* page right side top */
.item-1 {
    font-size: 2rem;
}


/* page right side middle */
.item-2 {
    /*border: 1px solid red;*/
}

/* legend (form) */
legend {
    margin-bottom: 1rem;
}

.box-1, /* input firstName & lastName*/
.box-2, /* input email & phone number */
.box-3 /* input password & confirmPassword */
{
    display: flex;
    gap: 4rem;
    margin-bottom: 1.5rem;
    /*border: 1px solid green;*/   
}

.box-3 {
    margin-bottom: 4%;
}

.box-4 p {
    font-size: 1.3rem;
}

legend {
    font-size: 2rem;
}

fieldset {
    border: none;
}

input {
    font-size: 2rem;
}

label {
    display: block;
}

button {
    width: 18rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
    background-color: #596D48;
    padding: 0.7rem; /* top/bottom left/right */
    margin-bottom: 4%;
}

button:hover {
    background-color: #728b5c; 
}


@media only screen and (max-width: 1100px) {
    .box-1,
    .box-2,
    .box-3 {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 1rem;
           
        
    }
    label {
        margin-top: 1rem;
    }
    input {
        width: 90%;
    }
}