@font-face {
    font-family: customFont;
    src: url("font/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf")
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    /*display: block;*/
    max-width: 100%;
}


/* whole page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page left side */
.flexbox-1 {
    width: 40vw;
    height: 100vh;
    position: relative;
}

.img-background {
   height: 100%;
   min-width: 100%;
}

.img-logo {
    position: absolute;
    left: 20%;
    top: 22%;
    width: 17%;
}

.div-img {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #00000070; 
    left: 0%;
    top: 20%;   
}

.div-text {
    position: absolute;
    display: inline-block;
    left: 40%;
    top: 24%;
    font-size: 6vw;

    font-family: customFont, sans-serif;
}

/* page right side */
.flexbox-2 {
    width: 60vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-left: 3rem;
    /*border: 4px solid red;*/
}

/* page right side top */
.item-1 {
    font-size: 2rem;
}


/* page right side middle */
.item-2 {
    /*border: 1px solid red;*/
}

/* page right side bottom */
.item-3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 5rem;
    /*border: 1px solid yellow;*/
   
}

/* legend (form) */
.box-1 {
    margin-bottom: 1rem;
}

.box-2, /* input firstName & lastName*/
.box-3, /* input email & phone number */
.box-4 /* input password & confirmPassword */
{
    display: flex;
    gap: 4rem;
    margin-bottom: 1.5rem;
    /*border: 1px solid green;*/
    
}

legend {
    font-size: 2rem;
}

fieldset {
    border: none;
}

input {
    font-size: 2rem;
}

label {
    display: block;
}

button {
    width: 18rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
    background-color: #596D48;
    padding: 0.7rem; /* top/bottom left/right */
}


