@font-face {
    font-family: customFont;
    src: url("font/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf")
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    /*display: block;*/
    max-width: 100%;
}

/* whole page */
.container {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

/* page left side */
.flexbox-1 {
    width: 40vw;
    min-height: 100vh;
    position: relative;
}

.img-background {
    height: 100vh;
    min-width: 100%;
    object-fit: cover;
}

/* transparent black background, for logo and text */ 
.div-img {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 21vh;
    background-color: #00000070; 
    left: 0vw;
    top: 20vh;
}

/* text */
.div-text {
    position: absolute;
    display: inline-block;
    left: 40%;
    top: 24%;
    font-size: 6vw;
    font-family: customFont, sans-serif; 
    color: #fff; 
}

.img-logo {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 17%;
    height: 18%;
}

.credit {
    position: absolute;
    bottom: 2%;
    left: 33%;
    color: #fff;
}

.a-credit {
    color: #fff;
}

.a-credit:hover {
    color: #ff1493;
}

/* page right side */
.flexbox-2 {
    width: 60vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* page right side top */
.item-1 {
    font-size: 2rem;
    width: 70%;
}

/* text paragraphs */
.item-1 p {
    margin-bottom: 1rem;
}

/* page right side middle */
.item-2 {
    /*border: 1px solid green;*/
    margin-top: 2rem;
    /*background-color: #fff;*/
}

/* page right side middle, without the create account button */
.form {
    padding-top: 1rem;
    background-color: #fff;
    box-shadow: 5px 5px 4px 5px #d7d7d7;
}

.box-1, /* input firstName & lastName*/
.box-2, /* input email & phone number */
.box-3 /* input password & confirmPassword */
{
    display: flex;
    gap: 4rem;
    margin-bottom: 1.5rem;
}

.box-3 {
    margin-bottom: 4%;
}

/* div button create account */
.box-4 {
    padding-top: 2rem;
}

/* to position content on right side with a margin to the left */
.item-1,
legend,
.box-1,
.box-2,
.box-3,
.box-4 {
    margin-left: 3rem;
}

/* div: Already have an account? link: Login in */
.item-3{
    font-size: 1.3rem;
    margin-left: 3rem;
}

/* text for password validation */
.validate {
    padding: 0.1rem;
    position: absolute;
}

.a-account {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
}

.a-account:hover {
    color:  #728b5c;
}

/* legend text(Let's do this!) */
legend {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

fieldset {
    border: none;
}

/* Inputs: FirstName/LastName, Email/PhoneNumber, Password/ConfirmPassword*/
input {
    border: 1px solid #E5E7EB;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

/* removes standard border from browser*/
input:focus-visible {
    outline: none;
}

input:focus {
    border: 1px solid #5555eb;
    border-radius: 0.1rem;
    box-shadow: 1px 1px 2px #686666;
 
}

/* labels for inputs */
label {
    display: block;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
}

/* button create account*/
button {
    width: 17rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
    background-color: #596D48;
    color: white;
    padding: 0.7rem; /* top/bottom left/right */
    margin-bottom: 1rem;
}

button:hover {
    background-color: #728b5c; 
}

@media only screen and (max-width: 1100px) {
    .box-1,
    .box-2,
    .box-3 {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 1rem;    
    }
    label {
        margin-top: 1rem;
    }
    input {
        width: 90%;
    }
}